* {
    box-sizing: border-box;
    font-family: sans-serif;
    
  }

  #contenedor{
   
    font-family: 'open Sans', sans-serif;
    border: 1px solid black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 184, 214);
    background-image: url('/img/cats.png');
  
  
   

   
  }
  body{
    background-color: rgb(248, 234, 253);
    margin: 0px; padding: 0px;
    min-height: 100vh;
    display: flex;
    font-family: 'open Sans', sans-serif;
    text-align: justify;
  }
  .encabezado{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    padding-top: 10%;
    background-image: url('/img/portadag.png');
    opacity: 90%;
    height: 50px;
    font-family: 'open Sans', sans-serif;

    
    
  }
 
  img{
    height: 100px;
    text-align: center;
    
   
   

    
  }
  .imagen{
    height: 100px;
    background-image: url('/img/portadag.png');
    opacity: 85%;
    

  }

  .barranavegacion{
   
    border: 1px solid black;
    font-size: 20px;
    background-color: rgb(209, 171, 245);
    width: 100%; 
    height: 50px;
     margin: 30px 0px 15px; 
     display: flex; 
     flex-flow: row nowrap;
      justify-content: space-around;
      font-family: 'open Sans', sans-serif;
      text-align: justify;
   

    
  }
  header{
    border: 1px solid black;
    text-align: center;
    font-family: 'open Sans', sans-serif;

    


  }
 #seccion{

    display: flex;
    flex-wrap: wrap;
     align-items: center; 
     justify-content: center;
     height: auto;
     text-align: center;
     opacity: 90%;
     font-family: 'open Sans', sans-serif;
     text-align: justify;
    
     

 }

 li{
    list-style: none;
 }

 ul{
    display: flex;
    text-align: center;
   
    padding: 20px;
    
 }
 
 nav{
    width: 100%;
}

.contenido{

      border-top: 2px solid rgb(201, 144, 248); 
       border-bottom: 2px solid rgb(181, 133, 243);
       width: 350px;
        height: 300px;
        margin: 10px; 
       padding: 10px; 
  
}

#pie{
            margin-top: auto;
            height: 7%;
            width: 100%;
            border: 1px solid black;
            background-color: rgb(238,174,202);
            padding: 1%;
            text-align: center;
            display: inline-block;
            display: flex;
            font-family: 'open Sans', sans-serif;
            text-align: justify;

}

.ubicacion{
 background-image: url('/img/ubicacion.PNG');
 height: 300px;
 width: 200px;
 border : 1px solid black;
 margin-bottom: 20px;

}

.producto{
    text-align: center;
   float: left;
   display: flex;
   margin-left: 30px;
   border-bottom: 1px solid black;
   background-color: rgba(219, 157, 231, 0.596);
   font-family: 'open Sans', sans-serif;
   margin: 1.5em;
   
    
    
}

.pastelf{
   
    float: left;
    display: flex;
    margin-left: 30px;
    border-bottom: 1px solid black;
    background-color: rgb(171, 158, 241);
    font-family: 'open Sans', sans-serif;
    text-align: center;
    
}

.cafec{

    float: right;
    display: flex;
    margin-left: 30px;
    border-bottom: 1px solid black;
    background-color: rgb(241, 158, 158);
    font-family: 'open Sans', sans-serif;
    text-align: center;
}

.Pastelvc{
 
    float: left;
    display: flex;
    margin-left: 30px;
    border-bottom: 1px solid black;
    background-color: rgb(233, 241, 158);
    font-family: 'open Sans', sans-serif;
text-align: center;


}
.cafen{

    float: left; 
    border-bottom: 1px solid black;
    background-color: rgb(214, 158, 241);
    display: flex; 
    margin-left:30px;
    font-family: 'open Sans', sans-serif;
    text-align: center;

   
    
}

  nav{

    display: flex;
    flex-direction: row;
    display: flex;


}

.form-element {
  padding: 10px;

}

.boton {
  background-color: palevioletred;
  margin-top: 15px;
  margin-bottom: 15px;
}


.gato {
  border-radius: 1px solid rgb(172, 70, 219);
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 15px rgb(181, 60, 211);
}

.gato img {
 min-width: 200px;
 min-height: 200px;
 object-fit: cover;

}
p{
  text-align: justify;
}
.guayaba{

  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  margin-right:80px;
  text-align: center;
  align-items: center;


}
.botonRecomendacion{
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  margin-right:50px;


}
.PostreR{
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  margin-right:50px;
 
}
.recomendacionP{
  overflow: hidden;
  display: flex;
  margin-right:50px;
  margin-bottom: 20px;
  text-align: justify;
}
.RecomendacionI{

  margin-right:150px;

border-top: 3px solid rgb(201, 144, 248); 
border-bottom: 3px solid rgb(181, 133, 243);
background-color: rgb(223, 195, 236);



}
.formularioC{

  display: flex;
  margin: 0.5em;
  text-align: justify;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
}
.contenedorEventos{
  display: flex;
  margin: 0.5em;
  text-align: justify;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
}
h3{
  display: flex;
  margin: 0.5em;
  text-align: justify;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
  font-family: 'open Sans', sans-serif;
}
.seccion{
  display: flex;
  flex-wrap: wrap;
   align-items: center; 
   justify-content: center;
   height: auto;
   text-align: center;
   opacity: 90%;
   font-family: 'open Sans', sans-serif;
   text-align: justify;
   background-color: rgba(174, 43, 226, 0.527);

}
.productoAcceso{

  justify-content: space-between;
  padding-left: 200px;


}
.seccion1{

  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  height: auto;
  text-align: justify;
}
#navegacion{
  text-align: center;
}
.formularioAdministrador{
  text-align: justify;

}
#btnAgregar{
  background-color: rgba(228, 118, 200, 0.767);
}

#btnConsultar{
  background-color: rgba(228, 118, 200, 0.767);
}

#btnActualizar{
  background-color: rgba(228, 118, 200, 0.767);
}

#btnDesactivar{
  background-color: rgba(228, 118, 200, 0.767);

}

#btnActivar{
  background-color: rgba(228, 118, 200, 0.767); 
}

#btnLimpiar{
  background-color: rgba(228, 118, 200, 0.767); 
}
a{
  color: black;

}
.productoAcceso1{
  background-color: rgba(162, 0, 255, 0.658);
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}
.productoAcceso{
  background-color: rgba(230, 59, 178, 0.678);
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  text-align: justify;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
}