* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  

.pie{

    margin-top: auto;
    height: 7%;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(238,174,202);
    padding: 1%;
    text-align: center;
    display: inline-block;
    display: flex;
    font-family: 'open Sans', sans-serif;
    text-align: justify;
}